button {
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 15px;
    border-radius: 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    cursor: pointer;
    margin: 4px 2px;
}

button:hover {
    background-color: #1ac586;
    color:black;
}